In [25]:
pip install sqlalchemy

Collecting sqlalchemy
  Downloading SQLAlchemy-2.0.37-cp310-cp310-win_amd64.whl.metadata (9.9 kB)
Collecting greenlet!=0.4.17 (from sqlalchemy)
  Downloading greenlet-3.1.1-cp310-cp310-win_amd64.whl.metadata (3.9 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\gamers\appdata\roaming\python\python310\site-packages (from sqlalchemy) (4.12.2)
Downloading SQLAlchemy-2.0.37-cp310-cp310-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ----------------------------- ---------- 1.6/2.1 MB 10.5 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 10.7 MB/s eta 0:00:00
Downloading greenlet-3.1.1-cp310-cp310-win_amd64.whl (298 kB)
Installing collected packages: greenlet, sqlalchemy
Successfully installed greenlet-3.1.1 sqlalchemy-2.0.37
Note: you may need to restart the kernel to use updated packages.

In [28]:
pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.9.10-cp310-cp310-win_amd64.whl.metadata (5.0 kB)
Downloading psycopg2-2.9.10-cp310-cp310-win_amd64.whl (1.2 MB)
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   ---------------------------------------- 1.2/1.2 MB 7.2 MB/s eta 0:00:00
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.10
Note: you may need to restart the kernel to use updated packages.

In [29]:
pip install psycopg2-binary

Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.10-cp310-cp310-win_amd64.whl.metadata (5.0 kB)
Downloading psycopg2_binary-2.9.10-cp310-cp310-win_amd64.whl (1.2 MB)
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   ---------------------------------------- 1.2/1.2 MB 8.3 MB/s eta 0:00:00
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.10
Note: you may need to restart the kernel to use updated packages.

In [14]:
import pandas as pd

In [15]:
import psycopg2

In [16]:
from time import time

In [17]:
pd.__version__

'2.2.3'

### Prep Data

In [18]:
df = pd.read_csv('./dataset/yellow_tripdata_2021-01.csv', delimiter=',', nrows=100)

In [19]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               100 non-null    int64
 1   tpep_pickup_datetime   100 non-null    object
 2   tpep_dropoff_datetime  100 non-null    object
 3   passenger_count        100 non-null    int64
 4   trip_distance          100 non-null    float64
 5   RatecodeID             100 non-null    int64
 6   store_and_fwd_flag     100 non-null    object
 7   PULocationID           100 non-null    int64
 8   DOLocationID           100 non-null    int64
 9   payment_type           100 non-null    int64
 10  fare_amount            100 non-null    float64
 11  extra                  100 non-null    float64
 12  mta_tax                100 non-null    float64
 13  tip_amount             100 non-null    float64
 14  tolls_amount           100 non-null    float64
 15  improvement_surcharge  100 non-null    float64
 16  total_amount           100 non-null    float64
 17  congestion_surcharge   100 non-null    float64
dtypes: float64(9), int64(6), object(3)
memory usage: 14.2+ KB

In [21]:
df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])
df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])

### Connect df to postgresql

In [22]:
from sqlalchemy import create_engine

In [23]:
engine = create_engine('postgresql://Postgres:Postgres@localhost:5431/ny_taxi')

In [24]:
engine.connect()

In [25]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

### Import df to schema database

In [26]:
df_iter = pd.read_csv('./dataset/yellow_tripdata_2021-01.csv', delimiter=',', iterator=True, chunksize=100000)

count = 0
t_start = time()

for batch_df in df_iter:
    count += 1
    print(f'inserting batch {count}...')
    b_start = time()

    batch_df['tpep_pickup_datetime'] = pd.to_datetime(batch_df['tpep_pickup_datetime'])
    batch_df['tpep_dropoff_datetime'] = pd.to_datetime(batch_df['tpep_dropoff_datetime'])
    batch_df.to_sql('yellow_taxi_data', con=engine, if_exists='append')
    
    b_end = time()

    print(f"inserted! time taken {b_end - b_start:10.3f} seconds.\n")

t_end = time()
print(f'Completed! Total time taken was {t_end-t_start:10.3f} seconds for {count} batches.')

inserting batch 1...
inserted! time taken     11.368 seconds.

inserting batch 2...
inserted! time taken     12.312 seconds.

inserting batch 3...
inserted! time taken     12.597 seconds.

inserting batch 4...
inserted! time taken     11.769 seconds.

inserting batch 5...
inserted! time taken     12.230 seconds.

inserting batch 6...
inserted! time taken     14.687 seconds.

inserting batch 7...
inserted! time taken     12.547 seconds.

inserting batch 8...
inserted! time taken     12.587 seconds.

inserting batch 9...
inserted! time taken     11.525 seconds.

inserting batch 10...
inserted! time taken     12.519 seconds.

inserting batch 11...
inserted! time taken     11.886 seconds.

inserting batch 12...
inserted! time taken     12.555 seconds.

C:\Users\gamers\AppData\Local\Temp\ipykernel_13632\4016484963.py:6: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  for batch_df in df_iter:

inserting batch 13...
inserted! time taken     13.553 seconds.

inserting batch 14...
inserted! time taken      8.917 seconds.

Completed! Total time taken was    174.464 seconds for 14 batches.

In [46]:
chunk_count = sum(1 for _ in df_iter)
print(f"Dataset dibagi menjadi {chunk_count} bagian.")

Dataset dibagi menjadi 0 bagian.